* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::selection {
    background: $pink;
  }
}

$MAX-WIDTH: 1400px;
$arrow-time: 6.5s;

@font-face {
  font-family: 'Yaldevi C Light';
  src: url('/assets/fonts/YaldeviColombo-Light.woff') format('woff');
}

@font-face {
  font-family: 'Yaldevi C Medium';
  src: url('/assets/fonts/YaldeviColombo-Medium.woff') format('woff');
}

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Ropa+Sans&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Ropa Sans', sans-serif;
  font-family: 'Yaldevi C Medium';

  // font-family: 'Poppins', sans-serif;

  font-weight: 300;
  // background-color: $yellow;
  background-image: linear-gradient(0deg, $purple-light, $pink-light);
  h1,
  h2,
  h3,
  h4,
  a {
    font-family: 'Ropa Sans', sans-serif;
    font-family: 'Yaldevi C Medium';

    font-weight: 200;
    letter-spacing: 0.01em;
  }
}
p,
li {
  line-height: 1.15;
  letter-spacing: 0.02em;
  font-size: 1.1em;
}
li {
  line-height: 1.55;
}
a {
  text-decoration: none;
  color: $purple-dark;
}
em {
  font-style: italic;
}
.purple-text {
  color: $purple-dark;
}

.page-container {
  position: relative;
  max-width: $MAX-WIDTH;
  background-color: $white;
  margin: 0 auto;
  padding: 0 min(3%, 3rem);
  min-height: 100vh;
  // border-bottom-right-radius: 2rem;
  // border-bottom-left-radius: 2rem;

  //  ---------------------------------------------------//
  //  -----------------   Navigation
  //  ---------------------------------------------------//

  nav {
    transition: all 0.35s ease;
    // background-color: $;
    font-size: 1.1em;
    // position: absolute;
    z-index: 2;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: $MAX-WIDTH;
    margin: 0 auto;
    padding: 0 0.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 2em 2em;
    // background-color: $purple;
    background-color: $white;
    // background: linear-gradient($purple, lighten($purple, 5));
    // backdrop-filter: blur(50px);
    border-top: 4px solid $purple;
    // box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);

    .logo {
      position: relative;
      height: 100%;
      padding: 0.4em;
      opacity: 0;
      // color: $white;
      .logo_text {
        text-transform: uppercase;
        margin-left: 1em;
        color: $purple-dark;
        display: inline-block;
        animation: fade-in 1s ease forwards;
        // animation-delay: 1s;

        // transition: all 1s ease;
        // transform: scaleX(1); // transition-delay: 1s;
        &.hidden {
          animation: fade-out 1s ease forwards;
          // animation-delay: 1s;
        }
      }

      #speech {
        color: $purple-dark;
        background-color: $white;

        font-weight: 600;
        position: absolute;
        display: inline-block;
        width: 15ch;
        // pointer-events: none;
        padding: 1em 1em;
        opacity: 0;
        border: 4px solid $purple-dark;
        border-radius: 5px;
        transition: all 0.2s;
        top: -1em;
        left: 4em;

        &:before {
          content: '';
          width: 0px;
          height: 0px;
          position: absolute;
          border-left: 10px solid transparent;
          border-right: 10px solid $purple-dark;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          left: -23px;
        }

        &:after {
          content: '';
          width: 0px;
          height: 0px;
          position: absolute;
          border-left: 10px solid transparent;
          border-right: 10px solid #fff;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          left: -17px;
        }
      }
      &:hover {
        #speech {
          opacity: 1;
          top: 0em;
          left: 4em;
        }
      }
    }
    ul {
      padding: 0.6em 0;
      width: 30%;
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      opacity: 0;
      height: 100%;

      li {
        text-align: center;
        height: 100%;
        transition: all 0.2s ease;

        a {
          display: block;
          padding: 0.3em 0.4em;
          text-decoration: none;
          text-align: center;
          color: $purple-dark;
        }
        &:hover {
          a {
            color: $purple-dark2;

            transition: all 0.25s ease;
          }
        }
      }
    }
    #nav-toggle {
      display: none;
      color: $white;
      padding: 0.2em;
    }
  }

  .nav-active {
    // box-shadow: 0 2px 3px darken($color: $purple, $amount: 50);
    .logo {
      animation: rhs-slide-in 0.7s forwards;
    }
    ul,
    span {
      cursor: pointer;

      animation: lhs-slide-in 0.7s forwards;
    }
  }

  //  ---------------------------------------------------//
  //  -----------------   Header/Hero
  //  ---------------------------------------------------//

  > header {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    // background-image: radial-gradient(
    //   circle,
    //   transparent ,
    //   transparentize($pink-light, 0.1) 100%
    // );
    // background: linear-gradient(0deg, transparent, $purple);
    // animation: herocolourfade 1s ease $arrow-time + 1s forwards  ;

    .title-text {
      display: flex;
      position: absolute;
      width: 100%;
      top: 35%;
      // text-align: center;
      justify-content: center;
      align-items: center;

      opacity: 0;
      animation: fade-in 0.6s ease forwards $arrow-time + 1s;
      font-size: 3.4em;

      h1,
      h2 {
        width: 100%;
        // opacity: 0;
        font-weight: 200;
        margin: 0 0.4em;
      }
      h1 {
        text-align: right;
        color: $purple-dark;
        font-size: 1em;
      }
      h2 {
        text-align: left;
        font-size: 1em;
      }
    }
    .point {
      display: block;
      width: 100%;
      animation: point 1s infinite ease-in-out alternate;
      animation-delay: $arrow-time + 1.4s;
    }
    .text-container {
      position: relative;
      display: block;
      font-size: 2.4em;
      text-align: center;
      z-index: 1;
      color: inherit;
      text-decoration: none;

      h1,
      h2 {
        font-weight: 200;
        display: block;
        width: 100%;
        > span {
          opacity: 0;
          font-weight: 200;
          display: block;
          width: 100%;

          animation: fade-in 0.3s ease forwards;
          &:nth-child(1) {
            margin-bottom: 1.1em;
          }
          &:nth-child(2) {
            font-size: 1.2em;
            margin-bottom: 0.9em;
          }

          &:nth-child(12) {
            margin-bottom: 0.9em;
          }

          @for $i from 1 through 6 {
            &:nth-child(#{$i}) {
              animation-delay: #{$i * 0.7}s;
            }
          }
          @for $i from 7 through 12 {
            &:nth-child(#{$i}) {
              animation-delay: #{3 + ($i * 0.2)}s;
            }
          }
        }
      }
      h1 {
        font-size: 1em;
        margin-bottom: 0.6em;
      }
      h2 {
        font-size: 0.8em;
      }
      animation: arrowflip 1s ease forwards;
      animation-delay: $arrow-time;
    }
    .point {
      animation: point 1s infinite ease-in-out alternate;
      animation-delay: $arrow-time + 1.4s;
    }
    .flip-back {
      display: inline-block;
      animation: flip-back 0s forwards ease $arrow-time + 0.3s;
    }
  }
}

//  ---------------------------------------------------//
//  -----------------   Sections
//  ---------------------------------------------------//

.content {
  h1 {
    color: $purple-dark;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  section {
    position: relative;
    // margin-top: ;
    // padding-top: 3rem;

    // min-height: 100vh;
    margin: 0rem auto;
    margin-bottom: 4.4rem;
    // padding: 2rem;

    //   background-color:opacify($color: $yellow, $amount: 0.9);
    // background-color: transparentize($color: $yellow, $amount: 0.5);

    // stops nav from hiding content on navigation
    &:last-of-type {
      margin-bottom: 0rem;
    }
    &:target::before {
      // position: absolute;
      // top: -10rem;
      content: '';
      // width: 1px;
      // height: 1px;
      display: block;
      height: 10rem; // fixed header height
      margin: -10rem 0 0; // negative fixed header height
    }
  }
}

//  ---------------------------------------------------//
//  -----------------   Projects
//  ---------------------------------------------------//

#projects {
  .project {
    &:nth-of-type(1) {
      margin-top: 0;
    }
    margin: 4.4rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 6rem auto;
    grid-gap: 1.4rem 2rem;
    // place-items: center;
    // background-color: $yellow;
    // padding: 1.2em 1em;

    // background: linear-gradient(
    //   95.63deg,
    //   rgba(255, 255, 255, 0) 4.41%,
    //   transparentize($purple, 0.8) 99.41%
    // );
    border-radius: 25px;
    // header {
    //   height: 25rem;
    //   width: 100%;
    //   position: relative;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   // flex-direction: column;
    //   background: radial-gradient(circle, rgb(255, 255, 255), hsl(0, 0%, 88%));
    //   background-clip: content-box;

    //   padding: 0 3rem;
    //   // border-radius: 50%;

    //   h1 {
    //     color: $purple-dark;
    //     font-size: 2.2rem;
    //     position: absolute;
    //     top: 0.9em;
    //     left: 0.2em;
    //     // mix-blend-mode: hard-light;
    //   }
    //   img {
    //     // position: absolute;
    //     // left: 24%;
    //     // top: 30%;
    //     // width: 58%;

    //     // bottom: 20%;
    //     // right: 50%;
    //     // bottom: 1.2em;

    //     // height: 40%;
    //     // margin-top: 2.9em;
    //     width: 80%;
    //     object-fit: contain;
    //   }
    // }

    h1 {
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;

      // width: 100%;
      font-size: 2.4em;
      margin: 0;
      &::before {
        display: inline-block;
        content: '>';
        margin-right: 1em;
      }
    }

    .cover,
    .details {
      // opacity: 0; //intersection ob fade in
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .cover {
      // display: none;
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      padding: 4.6rem;
      background-image: radial-gradient(
        rgba(128, 128, 128, 0.2),
        transparent 70%
      );
      img {
        width: 100%;
      }
    }
    .details {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;

      padding: 1em 2em;

      h2 {
        color: $pink-dark;

        font-size: 1.7em;
        margin-bottom: 0.5em;
      }
      p {
        margin: 1.2em 0;
        // font-size: 1.1em;
      }
      .project-buttons {
        margin: 2.4em 0;
      }
    }
  }

  #colourbrain {
    .cover {
      padding: 2em 30%;
    }
  }
}

//  ---------------------------------------------------//
//  -----------------   About
//  ---------------------------------------------------//

#about {
  .about-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 6rem auto;
    grid-gap: 0rem 2rem;
    // background: linear-gradient(
    //   95.63deg,
    //   rgba(255, 255, 255, 0) 4.41%,
    //   transparentize($purple, 0.8) 99.41%
    // );
    border-radius: 25px;

    div {
      padding: 0rem 4rem;

      &:nth-last-of-type(1) {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
      }
      &:nth-last-of-type(2) {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
      }
      h2 {
        font-size: 2rem;
        color: $pink-dark;
        margin-bottom: 1em;
      }
      p {
        margin: 1em 0;
      }
    }
    .dev-icons {
      display: flex;
      justify-content: center;
      li {
        display: flex;
        // flex-direction: column;
        align-items: center;
        padding: 0 1em;
        i {
          color: $purple-dark;
          font-size: 1.4em;
          padding: 0.4em 1em;
          // width: 30px;
        }
      }

      display: flex;
      flex-wrap: wrap;
    }
  }
}

//  ---------------------------------------------------//
//  -----------------   Contact
//  ---------------------------------------------------//

#contact {
  padding: 1em 4em;
  .contact-contents {
    // margin: 0 auto;
    padding-bottom: 3em;
    max-width: 100%;
    form {
      margin-top: 2rem;
      .form-field {
        position: relative;
      }
      label {
        color: $pink-dark;
        font-size: 1.2em;
        // font-weight: 500;
        left: 0.5em;
        position: absolute;
        top: 0.5em;
        transition: all 0.1s linear;
      }

      input,
      textarea {
        font-family: 'Yaldevi C Light';

        background-color: transparent;
        border: none;
        border-bottom: 1px solid $pink;
        color: #666;
        font-size: 1.5em;
        padding: 1em 0.5em 0.5em;
        width: 100%;
        &:focus {
          outline-color: $purple;
        }
      }
      input {
        max-width: 400px;
      }
      textarea {
        max-width: 100%;
        min-width: 100%;
      }

      input:focus + label,
      label.show,
      textarea:focus + label,
      label.show {
        border-radius: 4px;
        color: $purple-dark;
        font-size: 1em;
        left: 0.5em;
        padding: 0 0.15em;
        top: 0.2em;
      }
      #submit {
        // text-align: end;
        display: block;
        margin: 2em 0 2em auto;
      }
    }
  }
}

//  ---------------------------------------------------//
//  -----------------   Footer
//  ---------------------------------------------------//

footer {
  text-align: right;
  padding: 1.2em;
  background-color: $purple;
}

//  ---------------------------------------------------//
//  -----------------   Buttons
//  ---------------------------------------------------//

.project-buttons {
  margin-top: 0.8em;
  width: 100%;
  text-align: center;

  // display: none;
  button {
    margin-left: 0.4em;
  }
}
button,
#submit,
.external_link {
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 400;
  display: inline-block;
  padding: 0.5em 1.1em;
  border-radius: 6px;

  transition: all 0.1s;

  color: $white;
  background-color: $pink-dark;
  border: 0.5px solid $pink-dark;

  &:hover {
    color: $purple-dark;
    background-color: $white;
    border: 0.5px solid $purple-dark;
  }
}
.external_link {
  margin: 0 0.6em;
}
