// colours

$purple: rgb(206, 151, 251);
$pink: rgb(246, 165, 235);
$orangepink: rgb(250, 169, 157);
$blue: rgb(103, 235, 250);
$yellow: rgb(253, 223, 126);

$c1: #f6eec7;
$c2: #ffb6b9;
$c3: #f4dada;
$c4: #beebe9;
