// colours

$purple: rgb(206, 151, 251);
$purple-dark: darken($purple, 20);
$purple-light: lighten($purple, 10);

$pink: rgb(246, 165, 235);
$pink-dark: darken($pink, 20);
$pink-light: lighten($pink, 10);

$orangepink: rgb(250, 169, 157);
$blue: rgb(103, 235, 250);
$yellow: rgb(253, 223, 126);

$white: rgb(250, 250, 250);

$c1: #f6eec7;
$c2: #ffb6b9;
$c3: #f4dada;
$c4: #beebe9;
